<h1><%= @notice.title %></h1>  
	<%= image_tag @notice.image.url(:large) %>
<p><%= @notice.body.html_safe %></p>
<div class="alinCenter">
	<% if admin_signed_in? %>
		<%= link_to 'Editar', edit_notice_path(@notice), :class => 'btn btn-success' %> 
	<% end %>
	<a href="/notices" class="btn btn-primary fa fa-arrow-left"> Atras</i> Atras</a>
</div>
	

<br>
<%= render 'disqus' %>
<% if admin_signed_in? %>
	<script type="text/javascript">
		alert("<%= notice %> \n\nPulse Aceptar para continuar");
	</script>
<% end %>
