<%= form_for(program, :html=>{:multipart=>true}) do |f| %>
  <% if program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><strong>Nombre del Programa:</strong></p>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="marginTop">
    <p><strong>Logo:</strong></p>
    <%= f.file_field :image, :class => 'form-control' %>
  </div>

  <div class="marginTop">
    <p><strong>Descripcion del Programa:</strong></p>
    <%= f.cktext_area :description, :rows => '10' %>
  </div>

  <div class="marginTop">
    <p><strong>Horario del Programa:</strong></p>
    <%= f.text_field :schedule, :class => 'form-control' %>
  </div>

  <div class="marginTop">
    <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
  </div>
<% end %>
