  <% @programs.each do |program| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-block">
        <div class="row">
          <div class="col-md-8">
            <div class="card-block">
              <h4 class="card-title"><%= program.name %></h4>
              <p class="card-text"><%= program.schedule %></p>
              <%= link_to program do%>
                <button class="btn btn-primary">Ver mas</button>
               <% end %>
              <% if admin_signed_in? %>
                <%= link_to 'Editar', edit_program_path(program), :class => 'btn btn-success' %>
                <%= link_to 'Destruir', program, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
              <% end %>
            </div>
          </div>
          <div class="col-md-4">
            <%= link_to program do%>
              <img src="<%= program.image %>" class="card-img-top imgCardProgram">
            <% end %>
          </div>            
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>
<% if admin_signed_in? %>
  <%= link_to 'Nuevo Programa', new_program_path , :class => 'btn btn-primary' %>
<% end %>

