<div class="row">
	<div class="col-md-8">
		<h1 class="titleProgramShow"><%= @program.name %></h1>
		<h3 class="scheduleProgramShow"><%= @program.schedule %></h3>		
	</div>
	<div class="col-md-4 imgVideoShow">
		<%= image_tag @program.image.url(:medium), :class => "imgCardProgramShow" %>
	</div>
</div>
<p class="descriptionProgramShow">
  <%= @program.description %>
</p>
<br>
<%= link_to 'Editar', edit_program_path(@program) , :class => 'btn btn-success'%>
<a href="/programs" class="fa fa-arrow-left btn btn-primary"> Atras</a>
