<div class="row">
	<div class="col-md-8">
		<h1 class="titleProgramShow"><%= @program.name %></h1>
		<h3 class="scheduleProgramShow"><%= @program.schedule %></h3>		
	</div>
	<div class="col-md-4 imgVideoShow">
		<%= image_tag @program.image.url(:medium), :class => "imgCardProgramShow" %>
	</div>
</div>
<p class="descriptionProgramShow">
  <%= @program.description %>
</p>
<br>
<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
