<%= form_for(sponsor, :html=>{:multipart=>true}) do |f| %>
  <% if sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% sponsor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    <p><strong>Logo:</strong></p>
    <%= f.text_field :image, :class => 'form-control' %>
  </div>

  <div class="marginTop">
    <p><strong>Nombre de Empresa o Negocio:</strong></p>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="marginTop">
    <p><strong>Descripcion de la Empresa o negocio:</strong></p>
    <%= f.cktext_area :description, :rows => '10' %>
  </div>

  <div class="marginTop">
    <p><strong>Ubicacion:</strong></p>
    <%= f.text_field :address, :class => 'form-control' %>
  </div>


  <div class="marginTop">
    <p><strong>Fotos:</strong> Agregue los link's separador por "espacio"+";"+"espacio" ej: www.imagen.com/imagen/jpg ; www.imagen.com/imagen2.jpg notese los espacios antes y despues del ";"</p>
    <%= f.text_field :photo, :class => "form-control" %>
  </div>



  <div class="marginTop">
    <%= f.submit 'Guardar', :class => 'btn btn-primary'%>
  </div>
<% end %>

