<div class="row">
  
  <% @sponsors.each do |sponsor| %>
    <div class="col-md-4">
    <% if admin_signed_in? %>
      <div class="card alinCenter cardSponsorEdit">
    <% else %>
      <div class="card alinCenter cardSponsor">
    <% end %>
        <%= link_to sponsor do%>
          <img src="<%= sponsor.image %>" class="card-img-top imgSponsor">
        <% end %>
        <div class="card-block">
          <h3 class="card-text"><%= sponsor.name %></h3>
        </div>
        <div class="alinCenter">
          <%= link_to "Ver mas", sponsor, :class => 'btn btn-primary' %>
        </div>
        <% if admin_signed_in? %>
          <div class="alinCenter marginTop">
            <%= link_to 'Editar', edit_sponsor_path(sponsor), :class => 'btn btn-success' %>
            <%= link_to 'Destruir', sponsor, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
    
  <% end %>
</div>


    
<br>
<% if admin_signed_in? %>
  <%= link_to 'Nuevo Patrocinante', new_sponsor_path, :class => 'btn btn-primary'  %>
<% end %>
