<h1><%= @sponsor.name %></h1>
<div class="alinCenter">
	<%= image_tag @sponsor.image.url(:medium), :class => "" %>
</div>
<p><%= @sponsor.description %></p>
<p><strong>Direccion:</strong></p>
<p><%= @sponsor.address %></p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
