<%= form_for(music, :class => 'from-horizontal', :html => {:multipart=>true}) do |f| %>
   <% if music.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(music.errors.count, "error") %> prohibited this music from being saved:</h2>

        <ul>
        <% music.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <div >
        <p><strong>Imagen:</strong></p>
        <%= f.text_field :image, :class => 'form-control' %>
      </div>
      
      <div class="marginTop">
        <p><strong>Titulo:</strong></p>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>

      <div class="marginTop">
        <p><strong>Artista:</strong></p>
        <%= f.text_field :artist, :class => 'form-control' %>
      </div>

      <div class="marginTop">
        <p><strong>Youtube Url:</strong></p>
        <%= f.text_field :url, :class => 'form-control' %>
      </div>
 
      </div>
      <div class="marginTop label">
        <%= f.submit "Guardar", :class => 'btn btn-primary' %>
      </div>
    </div>
<% end %>
