<div class="row">
  <% @musics.each do |music| %>
    <div class="col-xs-4 col-md-4 cardW ">
    <% if admin_signed_in? %>
      <div class="card card-block cardMusicEdit">
    <% else %>
       <div class="card card-block cardMusic">
    <% end %>
      <div class="text-xs-center">
        <%= link_to music do%>
        <%= image_tag music.image.url(:medium), :class => "card-img-top img-thumbnail", :alt => "Card image cap" %>
        <% end %>
      </div>
      <div class="cardText">        
        <p class="card-title "><strong><%= music.name %></strong></p>
        <p class="card-text"><%= music.artist %></p>
        <div class="alinCenter marginTop">
          <%= link_to 'Ver', music, :class => 'btn btn-primary' %>
        </div>
        <% if admin_signed_in? %>
          <div class="alinCenter marginTop">
            <%= link_to 'Editar', edit_music_path(music) , :class => 'btn btn-success'%>
            <%= link_to 'Destruir', music, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger'%>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<div class="alinCenter"> 
  
  <%= will_paginate @notices, :page_links => false %>
</div>
<% if admin_signed_in? %>
  <%= link_to 'Agregar Nuevo', new_music_path , :class => 'btn btn-primary'%>
<% end %>